@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  font-family: Open Sans, sans-serif;
}

img {
  transform: scale(0.8);
  position: relative;
  left: 2rem;
  top: 2rem;
}

body {
  overflow: hidden;
}

header {
  background-color: rgb(70, 70, 70);
  width: 100%;
  height: 7rem;
}

main {
  display: flex;
  height: 100vh;
  background-color: rgba(253, 196, 156, 0.1);
}

/**************/
/* Posts-list */
/**************/

posts-list {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 3rem;
  margin-left: 6rem;
  color: white;
  height: 45rem;
  width: 32%;
  overflow-y: scroll;
  position: relative;
}

posts-list > h2 {
  font-size: 2.3rem;
  display: block;
  background-color: rgb(255, 138, 55);
  color: rgb(255, 255, 255);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

posts-list > button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem;
  background-color: rgba(110, 110, 110, 0.8);
  color: white;
}

posts-list > button:hover {
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.5);
}

posts-list > ul > li {
  text-decoration: none;
  font-size: 130%;
  display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 138, 55, 0.9);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgb(110, 110, 110, 0.2);
}

posts-list > ul > li:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

/****************/
/* Posts-detail */
/****************/

post-detail {
  height: 60%;
  border-radius: 5px;
  width: 50%;
  margin: 3rem;
  margin-left: 5rem;
  margin-top: 8rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
}

post-detail > h2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 2.3rem;
  padding: 2.2rem;
  display: block;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 138, 55);
}

post-detail > form {
  width: 25rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 138, 55, 0.5); */
  position: relative;
  top: 2rem;
  left: 23%;
}

post-detail > form > label {
  font-size: 25px;
  margin-bottom: 10px;
}

post-detail > form > input {
  height: 2rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(255, 138, 55, 0.4);
  text-indent: 15px;
  font-size: 0.9rem;
  font-family: Open Sans;
}

post-detail > form > input::placeholder {
  font-size: 0.9rem;
  font-family: Open Sans;
}

post-detail > form > textarea {
  height: 6rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(255, 138, 55, 0.4);
  text-indent: 15px;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  font-family: Open Sans;
}

post-detail > form > textarea::placeholder {
  font-size: 0.9rem;
  font-family: Open Sans;
}

post-detail > form > fieldset {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1.2rem;
}

post-detail > form > fieldset > button.generalButton {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  font-size: 1.1rem;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
}

post-detail > form > fieldset > button.generalButton:hover {
  background-color: rgb(70, 70, 70, 0.8);
}

post-detail > form > fieldset > button.cancelButton {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  background-color: rgb(255, 138, 55);
  font-size: 1.1rem;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

post-detail > form > fieldset > button.cancelButton:hover {
  background-color: rgb(255, 138, 55, 0.8);
}

post-detail > form > fieldset > button:hover {
  cursor: pointer;
}
